   [Desktop Entry]
    Categories=Development;IDE;
    Comment[en_US]=The smartest Python IDE
    Comment=The smartest Python IDE
    Exec="/opt/pycharm-2019.3.1/bin/pycharm.sh" %f
    GenericName[en_US]=
    GenericName=
    Icon=/opt/pycharm-2019.3.1/bin/pycharm.svg
    MimeType=
    Name[en_US]=Pycharm
    Name=Pycharm
    Path=
    StartupNotify=true
    StartupWMClass=jetbrains-pycharm
    Terminal=false
    TerminalOptions=
    Type=Application
    Version=1.0